<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gamerec.gamerecommend.mapper.RatingMapper">

    <!-- 批量插入评分 -->
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO rating (user_id, game_id, game_name, rating, play_hours, is_valid)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.userId},
                #{item.gameId},
                #{item.gameName},
                #{item.rating},
                #{item.playHours},
                #{item.isValid}
            )
        </foreach>
    </insert>

</mapper>
